<form action="mailto:{{ recipient }}">
  <input name="recipient" type="hidden" value="{{ recipient }}" />
  <input name="subject" type="hidden" value="{{ subject }}" />
  <input name="body" type="hidden" value="{{ body | escape('html') }}" />
  <input class="campaignist-send-mail-button" type="button" value="Click to open email for sending" />
</form>